<template>
<div>
    <div class="wrap p-4 overflow-hidden">
        <div class="grid grid-cols-2 gap-8">
            <div class="card" v-if="dataCourses.datasets.length">
                <h1 class="text-center">Pembelajaran yang diminati per-bulan </h1>
                <div>
                    <Bar :data="dataCourses" :options="options" style="height: 400px"/>
                </div>
            </div>
            <div class="card" v-if="dataTopics.datasets.length">
                <h1 class="text-center">Pembelajaran yang diminati berdasarkan topik </h1>
                <div>
                    <Line :data="dataTopics" :options="options" style="height: 400px"/>
                </div>
            </div>
            <div class="card" v-if="dataCategories.datasets.length">
                <h1 class="text-center">Pembelajaran yang diminati berdasarkan kategori </h1>
                <div>
                    <Pie :data="dataCategories" :options="options" style="height: 400px"/>
                </div>
            </div>
            <div class="card" v-if="dataLevels.datasets.length">
                <h1 class="text-center">Pembelajaran yang diminati berdasarkan tingkat kesulitan</h1>
                <div>
                <Doughnut :data="dataLevels" :options="options" style="height: 400px"/>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>
</template>

<script lang="ts" setup>
const {pendingCourse, courses} = await getCourses()
const {pendingTopics, topics} = await getTopics()
const {pendingCategories, categories} = await getCategories()
const {pendingLevels, levels} = await getLevels()

// useMeta({
//     title: 'Dashboard'
// })

const dataCourses = reactive({
  labels: [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ],
  datasets: []
})
const dataTopics = reactive({
  labels: [],
  datasets: []
})
const dataCategories = reactive({
  labels: [],
  datasets: []
})
const dataLevels = reactive({
  labels: [],
  datasets: []
})

const options = {
  responsive: true,
  maintainAspectRatio: false
}
const columns = [
    {
        label: 'Name',
        field: 'name',
    },
    {
        label: 'Age',
        field: 'age',
        type: 'number',
    },
    {
        label: 'Created On',
        field: 'createdAt',
        type: 'date',
        dateInputFormat: 'yyyy-MM-dd',
        dateOutputFormat: 'MMM do yy',
    },
    {
        label: 'Percent',
        field: 'score',
        type: 'percentage',
    }
]
const rows = [
    { id:1, name:"John", age: 20, createdAt: '',score: 0.03343 },
    { id:2, name:"Jane", age: 24, createdAt: '2011-10-31', score: 0.03343 },
    { id:3, name:"Susan", age: 16, createdAt: '2011-10-30', score: 0.03343 },
    { id:4, name:"Chris", age: 55, createdAt: '2011-10-11', score: 0.03343 },
    { id:5, name:"Dan", age: 40, createdAt: '2011-10-21', score: 0.03343 },
    { id:6, name:"John", age: 20, createdAt: '2011-10-31', score: 0.03343 }
]

watch([
    pendingCourse,
    pendingTopics,
    pendingCategories,
    pendingLevels], (newVal) => {
    if (!newVal[0]) {
        const data = []
        for (var i = 1; i <= dataCourses.labels.length; i++) {
            let empData = courses.value.data.filter(({
                created_at
            }) => (new Date(created_at)).getMonth() === i - 1);
            data.push(empData.length)
        }
        dataCourses.datasets.push(
            {
                label: 'Courses',
                backgroundColor: ['#EF7C8E', '#FAE8E0', '#B6E2D3', '#D8A7B1'],
                data: data
            }
        )
        if (!newVal[1]) {
            getDataTopics()
        }
        if (!newVal[2]) {
            getDataCategories()
        }
        if (!newVal[3]) {
            getDataLevels()
        }
    }
})
const getDataTopics = () => {
    const mappingLabels = topics.value.data.splice(1, 21)
    dataTopics.labels = mappingLabels.map(item => item.name)
    const data = []
    for (var i = 1; i <= mappingLabels.length; i++) {

        let empData = courses.value.data.filter(item => 
            Boolean(item.topic?.id === mappingLabels[i-1].id)
        )
        data.push(empData.length)
    }
    dataTopics.datasets.push(
        {
            label: 'Courses',
            backgroundColor: ['#EF7C8E', '#FAE8E0', '#B6E2D3', '#D8A7B1'],
            data: data
        }
    )
}
const getDataCategories = () => {
    const mappingLabels = categories.value.data.splice(0, 21)
    dataCategories.labels = mappingLabels.map(item => item.name)
    const data = []
    for (var i = 1; i <= mappingLabels.length; i++) {
        let empData = courses.value.data.filter(item => 
            Boolean(item.category?.id === mappingLabels[i-1].id)
        )
        data.push(empData.length)
    }
    dataCategories.datasets.push(
        {
            label: 'Courses',
            backgroundColor: [
                '#EF7C8E', 
                '#FAE8E0', 
                '#B6E2D3', 
                '#D8A7B1', 
                '#E2808A', 
                '#F1CCD7', 
                '#2E765E', 
                '#638C80',
                '#76B947',
                '#B1D8B7',
                '#2F5233',
                '#94C973'
            ],
            data: data
        }
    )
}
const getDataLevels = () => {
    const mappingLabels = levels.value.data.splice(0, 21)
    dataLevels.labels = mappingLabels.map(item => item.name)
    const data = []
    for (var i = 1; i <= mappingLabels.length; i++) {
        let empData = courses.value.data.filter(item => 
            Boolean(item.category?.id === mappingLabels[i-1].id)
        )
        data.push(empData.length)
    }
    dataLevels.datasets.push(
        {
            label: 'Courses',
            backgroundColor: [
                '#EF7C8E', 
                '#FAE8E0', 
                '#B6E2D3',
            ],
            data: data
        }
    )
}
</script>

<style lang="scss">
.wrap {
}
.card {
    border-radius: 20px;
    padding: 32px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
h1 {
    color: #EF7C8E;
}
</style>